# App Configuration
APP_URL="http://localhost:3000" # Required for next-sitemap

# Database
DATABASE_URL="postgresql://<USERNAME>:<PASSWORD>@<HOST>:<PORT>/<DATABASE>" # Required for Prisma

# Google
GOOGLE_CLIENT_ID="Your Google Client ID" # Required for NextAuth
GOOGLE_CLIENT_SECRET="Your Google Client Secret" # Required for NextAuth
GOOGLE_SITE_VERIFICATION_ID="Your Google Site Verification ID" # Optional

# NextAuth
NEXTAUTH_SECRET="Your NextAuth Secret" # Required for NextAuth
NEXTAUTH_URL="http://localhost:3000" # Required for localhost

# Environment
NODE_ENV="development"

# Opcional: se não existir, usa o Event ativo (isActive=true, maior year)
POWERCAMP_EVENT_ID="..."
POWERCAMP_OWNER_USER_ID="..."   # ID de um User existente no seu banco

EFI_PIX_ENV="homolog" # "prod" | "homolog"
EFI_CLIENT_ID=""
EFI_CLIENT_SECRET=""

# Recomendado usar PEM
EFI_CERT_PEM_PATH="./certs/efi-cert.pem"
EFI_CERT_KEY_PEM_PATH="./certs/efi-cert.key.pem"
EFI_CERT_PASSPHRASE=""

# Segurança simples (opcional)
WEBHOOK_SHARED_SECRET=""
