# Duplicate this to .env
DATABASE_URL='your database url' ## required for prisma - create free PostgreSQL database: https://dashboard.render.com/new/database

APP_URL='your app url' ## required for next-sitemap

GOOGLE_SITE_VERIFICATION_ID='your google verification id' ## not required

GOOGLE_CLIENT_ID='your google client ID' ## required for next-auth
GOOGLE_CLIENT_SECRET='your google secret ID' ## required for next-auth

NEXTAUTH_SECRET='your next-auth secret' ## required for next-auth - generate one here: https://generate-secret.vercel.app/32
NEXTAUTH_URL='http://localhost:3000' ## Only required for localhost

EFI_API_BASE_URL="https://cobrancas-h.api.efipay.com.br"
EFI_CLIENT_ID="Client_Id_980235480fc6ec6c4f827e142c6273f1d6dcc60a"
EFI_CLIENT_SECRET="Client_Secret_f1bc6ca41147ddbfec690ba20a1701efd5ba3a46"
EFI_PIX_CERT="/caminho/para/seuCertificado.p12"

NODE_ENV="development"